
.transporte-lista__tabla {
    display: none;
}

@media (min-width: 992px) {
    .transporte-lista__tabla {        
        display: block;
    }
}

.transporte-lista__cards {
    display: block;
}

@media (min-width: 992px) {
    .transporte-lista__cards {        
        display: none;
    }
}
